html {
	font-family: Didot;
	font-size: 24px ;
	padding: 0;
	margin: 0;
	background-color: lightcoral;
}

body {
	padding: 0;
	margin: 0;
}
header {
	grid-column: span 3;
	padding: 16px;
	text-align: center;
	font-size: 100px;
	font-family: bold;
}

nav {
	padding: 16px; 
	min-height:100%;
}

main {
	padding: 16px; 
	border-right: 2px solid black; 
	border-left: 2px solid black;
}

aside {
	padding: 16px;
}

footer {  
	grid-column: span 3;
	padding: 16px;
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: 20% 80%;
}

.container {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 20% auto 20%; 
	grid-template-rows: auto 1fr auto; 
}


.sticky {
	position: fixed;
	top: 0;
}

.profile-pic {
	max-width: 80px;
}

.map { width: 80%; height:20%; }

.friends {
	grid-column: span 3;
}

.photo {max-width: 100px}

.posts {padding: 16px; 

